@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-darkBg text-gray-100 font-sans antialiased overflow-x-hidden m-0 p-0;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #FF7A00;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #E56D00;
}
